body {
  text-align: center;
  cursor: pointer;
}
thead {
}
#calendar-table {
  width: 560px;
  height: 400px;
}

td {
  width: 80px;
}

#days {
}

.choiced {
  color: blue;
  font-weight: bold;
}

.today {
}

.today > p {
  color: white;
  font-weight: bold;

  background-color: rgb(6, 78, 6);

  border-radius: 30%;
}
